.note {
    min-width:300px;
    max-width:300px;
    height: 220px;
    border: 1px solid #888;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding : 25px;
    margin: 15px
}

.note h2 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}

.note p {
    text-overflow: ellipsis;
    overflow: hidden;
    height:137px;
    line-height: 1.4
}
