.modForm-container {
    display : flex;
    justify-content: center;
    align-items: center;
}

.form-modNote {
    position:absolute;
    left: 50%;
    top:40%;
    display:flex;
    flex-direction:column;
    width: 600px;
    transform: translate(-50%, -50%);

}

.form-modNote h2 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 25px;
}

.form-modNote label {
    font-weight: 600;
    margin: 15px 0 5px;
}

.form-modNote input {
    height: 35px;
    padding-left: 10px;
}

.form-modNote textarea {
    resize: none;
    height: 400px;
    padding-left: 10px;
}

.form-modNote button {
    width: auto;
    height:30px;
    margin: 20px 270px 0;
    cursor: pointer;
    background: transparent;
    border : 2px solid #333;
    border-radius: 8px
}

.form-modNote button:hover {
    background-color: cyan;
}

.cancelMod-btn {
    position: absolute;
    top:80px;
    left:30px;
    width: auto;
    height:30px;
    cursor: pointer;
    background: transparent;
    border : 2px solid #333;
    border-radius: 8px
}

.cancelMod-btn:hover {
    background-color: cyan;
}


@media screen and (max-width : 740px) {
    .form-modNote {
        margin-top : 180px;
        width : 90%;
    }

    .form-modNote h2 {
        margin: -50px 0 90px;
    }

    .form-modNote input {
        height: 45px;
        font-size:1em;
    }
    
    .form-modNote textarea {
        font-size:1.2em;
        
    }
    
    .form-modNote button {
        position: absolute;
        width: 30%;
        height:60px;
        margin: 0px 35% ;
        text-align: center;
        font-size: 1em;
    }

    .cancelMod-btn {
        top:90px;
        left:10px;
        width: auto;
        height:40px;
    }

    .form-modNote button:hover {
        background-color: transparent;
    }

    .cancelMod-btn:hover {
        background-color: transparent;
    }
}