.form-newNote {
    position:absolute;
    left: 50%;
    top:40%;
    display:flex;
    flex-direction:column;
    width: 600px;
    transform: translate(-50%, -50%);

}

.form-newNote h2 {
    text-align: center;
    font-size: 1.4em;
    font-weight: 600;
    margin-bottom: 25px;
}

.form-newNote label {
    font-weight: 600;
    margin: 15px 0 5px;
}

.form-newNote input {
    height: 35px;
    padding-left: 10px;
}

.form-newNote textarea {
    padding-left: 10px;
    resize: none;
    height: 400px
}

.form-newNote button {
    width: auto;
    height:30px;
    margin: 20px 270px 0;
    cursor: pointer;
    background: transparent;
    border : 2px solid #333;
    border-radius: 8px
}

.form-newNote button:hover {
    background-color: cyan;
}

@media screen and (max-width : 740px) {
    .form-newNote {
        margin-top : 110px;
        width : 90%;
    }

    .form-newNote h2 {
        margin: -50px 0 90px;
    }

    .form-newNote input {
        height: 45px;
        font-size:1em;
    }
    
    .form-newNote textarea {
        font-size:1.2em;
        height : 250px;
    }
    
    .form-newNote button {
        position: absolute;
        width: 30%;
        height:60px;
        margin: 0 35% ;
        text-align: center;
        font-size: 1em;
    }

    .form-newNote button:hover {
        background-color: transparent;
    }
}