.modalDeleteValidation {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background : rgba(0,0,0,0.485);
}

.modalDelete-container {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f3f3f3;
    padding:30px;
    border-radius: 7px;
}

.modalDelete-btnContainer {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.modalDelete-btn {
    margin: 0 5px;
    width: 40px;
    text-align: center;
    background: transparent;
    border : 1px solid black;
    border-radius:10px;
    cursor:pointer;
}

.modalDelete-btn:hover {
    background : cyan;
}

.delete-icon {
    height: 17px;
}

.delete-icon-btn {
    background: transparent;
    border : none;
    cursor:pointer;
}

@media screen and (max-width : 740px) {
    .modalDelete-container {
        width:90%;
    }

    .modalDelete-container h2 {
        margin-bottom:30px;
        text-align: center;
        font-size: 1.2em;
    }

    .modalDelete-btnContainer {
        justify-content: space-around;
    }

    .modalDelete-btn {
        padding: 15px;
        width: 70px;
    }
    
    .modalDelete-btn:hover {
        background : cyan;
    }

    .delete-icon {
        height: 22px
    }
}