header {
    z-index:1;
    display: flex;
    align-items: center;
    justify-content: center ;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    height: 50px;
    border-bottom: 5px double black;
    background: #f3f3f3;
}

header h1 {
    text-align: center;
    font-size: 2em;
}

.header-links {
    display: flex;
    position: absolute;
    left: 25px;
}

.header-links-name {
    width:100px;
    text-align: center;
}

.header-link {
    display: flex;
    align-items: center;
    height:45px;
}

.header-link:hover {
    color: #444;
}

.header-link--active {
    background : cyan;
}

@media screen and (max-width : 740px) {
    header {
        justify-content: space-between;
        height: 80px;
    }

    header h1 {
        font-size: 1.2em;
        text-align:right;
        margin-right: 10px;
        width: 50px;
    }

    .header-links {
        position: initial;
        left: 10px
    }

    .header-link:hover {
        color: initial;
    }
}